@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
}
.linguagem {
    display: none;
}
.linguagens button {
    text-align: center;
    width: 120px;
    padding: 10px;
    cursor: pointer;
}