@charset "UTF-8";

/* Typical Device Breakpoints
----------------------------------
Pequenas telas: até 568px
Celular: 568px - 768px
Tablet: 768px - 1024px
Desktop: 1024px - 1280px
Grandes telas: acima de 1280px
----------------------------------
*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    header p {
        width: 70%;
    }
    main {
        width: 70%;
    }
    li {
        width: 96%;
    }
    section {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    header p {
        width: 55%;
    }
    main {
        width: 55%;
    }
    .largurabtn {
        width: 60%;
        margin: auto;
    }
    li {
        width: 97%;
    }
    section {
        width: 55%;
    }
}